:root {
    --backgroundColor: #0F0F0F;
    --White: #ffffff;
    --Gray: #757575;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

body {
    background: var(--backgroundColor);
    overflow-x: hidden;
    width: 100%;
}

li {
    list-style: none;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Work sans', sans-serif;
}

.container {
    padding: 0 30px;
    overflow-x: hidden;
    overflow: auto;
}
/* Navbar Styling */
.header {
    /* border-bottom: 1px solid #E2E8F0; */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 2rem;
}

.nav-link {
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.175px;
    font-family: 'Work Sans', sans-serif;
    color: #fff;
}

.nav-link:hover {
    color: #757575;
    transition: all 0.5s ease-in;
}

@media (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #362727;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }
    
        .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
    
        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }

}

/* Showcase section */
.showcase h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.44px;
    opacity: 0.9;
    margin-top: 30px;
    background-image: linear-gradient(to right, hsla(45, 82%, 51%, 1), hsla(45, 82%, 51%, 0), hsla(15, 82%, 51%, 1));
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: calc(1em / 16);
    -webkit-background-clip: text;
    color: var(--backgroundColor);
    animation: slideInFromRight 1s ease-in-out;
}

.showcase {
    display: flex;
    margin-top: 50px;
}

.showcase .text {
    animation: slideInFromLeft 1s ease-in;
}

.text h1 {
    width: 849px;
    color: var(--White);
    font-family: 'Work Sans', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.44px;
}

.text p {
    width: 387px;
    color: #757575;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.024px;
}

/* Mobile Responsive Showcase Section */
@media (max-width: 768px) {
    .showcase {
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }

    .showcase h3 {
        position: absolute;
        top: -50px;
        right: -14px;
        font-size: 48px;
        margin-top: 15px;
        margin-right: 15px;
    }

    .text h1 {
        width: 100%;
        font-size: 35px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .text p {
        width: 100%;
        font-size: 14px;
        text-align: flex-start;
    }
}


/* Podcast section */
.songs {
    margin-top: 100px;
}

.play {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: slideInFromLeft 2s ease-in-out;
}

.play img {
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border-radius: 100px;
    background: radial-gradient(50% 50.00% at 50% 50.00%, rgba(255, 255, 255, 0.05) 89.78%, rgba(255, 255, 255, 0.00) 100%);
}

.play p {
    color: var(--White);
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.175px;
    margin-top: 10px;
}

.beats {
    display: flex;
    justify-content: space-between;
    font-family: 'Work Sans', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.44px;
    position: relative;
}

.beats span:first-child {
    background-image: linear-gradient(to right, hsla(45, 82%, 51%, 1), hsla(45, 82%, 51%, 0), hsla(15, 82%, 51%, 1));
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: calc(1em / 16);
    -webkit-background-clip: text;
    color: var(--backgroundColor);
    opacity: 0.8;
    animation: slideInFromLeft 1s ease-in-out;
}
.beats span:nth-child(2) {
    background-image: linear-gradient(to right, hsla(45, 82%, 51%, 1), hsla(45, 82%, 51%, 0), hsla(210, 100%, 25%, 1));
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: calc(1em / 16);
    -webkit-background-clip: text;
    color: var(--backgroundColor);
    opacity: 0.8;
    position: absolute;
    top: 150px;
    right: 0;
    animation: slideInFromRight 1s ease-in-out;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .songs {
        margin-top: 70px;
    }

    .play p {
        font-size: 12px;
    }

    .beats {
        font-size: 48px;
    }
}

/* App-logo Section */
.app-logo {
    margin-top: 11em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    animation: slideInFromRight 1s ease-in-out;
}

.app-logo img {
    max-width: 100%;
    height: auto;
    margin: 10px;
    cursor: pointer;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .app-logo {
        margin-top: 15em;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .app-logo img {
        max-width: 28%;
    }
}


/* Showcase image section */

.showcase-image {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 70px;
    height: 550px;
}

.showcase-image img {
    max-width: auto;
    height: 100%;
    object-fit: cover;
    object-position: top bottom;
    flex: 1;
    margin: 0;
}

/* Responsiveness For the Showcase-Image */
@media (max-width: 768px) {
    .showcase-image {
        height: 500px;
        overflow: hidden;
    }

    .showcase-image img {
        height: 40%;

    }
}


/* Podcast section */

.podcast {
    padding: 0 70px;
    margin-top: 70px;
    position: relative;
    width: 100%;
    /* Add this to set positioning context */
}

.podcast::before {
    content: "";
    position: absolute;
    top: 99px;
    right: 200px;
    bottom: 0;
    left: 0;
    background-image: url(./images/music-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-clip: inherit;
    background-position: right bottom;
    opacity: 0.8;
    z-index: -1;
    /* Place the background behind content */
}

.podcast h2 {
    display: flex;
    justify-content: flex-end;
    font-family: 'Work Sans', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.44px;
    opacity: 0.5;
    margin-top: 30px;
    background-image: linear-gradient(to right, hsla(45, 82%, 51%, 1), hsla(45, 82%, 51%, 0), hsla(15, 82%, 51%, 1));
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: calc(1em / 16);
    -webkit-background-clip: text;
    color: var(--backgroundColor);
    margin-bottom: 60px;
}
.music {
    margin-bottom: 70px;
}

.podcast .music {
    display: flex;
    gap: 20px;
    justify-content: center;
    /* margin-left: 40px; */
}

.music-img {
    width: 100%;
}

.music button {
    display: flex;
    padding: 8px 12px 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 100px;
    border: 1px solid #FFF;
    background: #292929;
    color: var(--White);
    margin: 30px 0 10px 0;
}

.music 
.tradition,
.good-music,
.druid {
    border-radius: 29px;
    background: #292929;
}

.about {
    padding: 10px;
}

.about h3 {
    width: 340px;
    color: #FFF;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.03px;
    margin-bottom: 10px;
}

.about p {
    width: 340px;
    color: #757575;
    font-family: 'Work Sans' sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.08px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.btn button {
    padding: 8px 16px;
    border-radius: 100px;
    border: 1px solid var(--White);
    background: inherit;
    color: var(--White);
}

/* Media query for screens with a max-width of 768px (typical mobile screens) */
@media (max-width: 768px) {
    .podcast {
        margin-top: -230px;
        padding: 0 20px;
    }

    .podcast .btn {
        display: none;
    }

    .podcast h2 {
        font-size: 58px;
    }

    .podcast::before {
        display: none;
    }

    .music {
        display: flex;
        flex-direction: column;
        /* gap: 40px; */
        /* margin-left: auto; */
    }

    .music-img {
        width: 100%;
        max-width: none;
    }

    .about h3,
    .about p {
        width: 100%;
    }

    .btn {
        flex-direction: column;
        /* Stack buttons vertically */
        gap: 20px;
        /* Increase gap between buttons */
    }
}

/* Blog Section */

.blog {
    padding: 0 70px;
    margin: 70px 0 30px 0;
    width: 100%;
}

.blog h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.44px;
    opacity: 0.5;
    margin-top: 30px;
    background-image: linear-gradient(to right, hsla(45, 82%, 51%, 1), hsla(45, 82%, 51%, 0), hsla(210, 100%, 25%, 1));
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: calc(1em / 16);
    -webkit-background-clip: text;
    color: var(--backgroundColor);
    margin-bottom: 60px;
}

.blog-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.blog-content .control {
    display: flex;
    border-radius: 29px;
    margin: 15px 10px;
    /* width: 100%; */
    min-width: 300px;
    min-height: 180px;
    flex-shrink: 0;
    background: #292929;
    justify-content: center;
}

.control img {
    width: 100%;
}

.mobile {
    display: none;
    
}

.blog-content button {
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 100px;
    border: 1px solid var(--White);
    background: inherit;
    color: var(--White);
    margin-top: 15px;
}

.control .text {
    padding: 10px;
    width: 100%;
}

.text h3 {
    min-width: 340px;
    color: var(--White);
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.03px;
    margin-bottom: 10px;
}

.text p {
    width: 90%;
    margin-bottom: 40px;
}

/* Review Section */

.reviews-container  {
    padding: 0 70px;
    margin-top: 150px;
    background-image: url(./images/music.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 30%;
}

.reviews-container h2 {
    text-align: right;
    font-family: 'Work Sans' sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.44px;
    opacity: 0.5;
    margin-top: 30px;
    background-image: linear-gradient(to right, hsla(210, 100%, 65%, 1), hsla(15, 82%, 71%, 1) );
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: calc(1em / 16);
    -webkit-background-clip: text;
    color: var(--backgroundColor);
    margin-bottom: 60px;
    padding-right: 20px;
}
.reviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
}

.review-bottom-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
}

.bottom-reviews {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.review {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0;
}

.review span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--white, #FFF);
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.027px;
}
.reviews-container .review {
    display: flex;
    width: 364px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 24px;
    background: var(--text-200, #292929);
} 

.review p {
    align-items: stretch;
    color: var(--text-500, #757575);
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.08px;
}

/* Community Section */

.community-container {
    padding: 0 70px;
    margin-top: 130px;
    background-image: url(./images/people\ \(1\)\ 1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.community-container h2 {
    align-self: flex-start;
    font-family: 'Work Sans', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.44px;
    background-image: linear-gradient(to right, hsla(210, 100%, 65%, 1), hsla(45, 82%, 71%, 1));
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: calc(1em / 16);
    -webkit-background-clip: text;
    color: var(--backgroundColor);
    margin-bottom: 60px;
    padding-right: 20px;
    opacity: 0.3;
}

.community {
    max-width: 400px;
    padding: 30px;
    border-radius: 24px;
    background: var(--text-200, #292929);
    text-align: center;
}

.community h3 {
    align-self: stretch;
    color:#FFF;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.085px;
    margin-bottom: 10px;
}

.community p {
    align-self: stretch;
    color: var(--text-500, #757575);
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.08px;
    margin-bottom: 20px;
}

.community button {
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: var(--primary-100, #003F7D);
    border: none;
    color: var(--White);
}

/* Footer Section */
footer {
    display: flex;
    width: 100%;
    padding: 10px 150px;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    background: var(--text-200, #292929);
}

footer p {
    color: var(--text-500, #757575);
    font-family: 'Work Sans',sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.035px;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid rgba(153, 153, 153, 0.15);
}

.footer .social-links {
    cursor: pointer;
}

/* Animations */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateX(0);
    }
}

/* Media Queries for Blogs Section */
@media (max-width: 768px) {
    .blog {
        padding: 0 25px;
        width: 100%;
    }
    .blog-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .blog h2 {
        font-family: 'Work Sans', sans-serif;
        font-size: 68px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        opacity: 0.5;
    }
    .control {
        display: grid;
        flex-direction: column;
        /* align-items: flex-start; */
    }

    .control .text {
        padding: 20px;
    }

    .control img {
        width: 100%;
    }

    .control p{
         /* width: 320px; */
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
    .blog-content button {
        display: flex;
        padding: 10px 20px;
    }
}

/* Media Queries for Reviews Section */
@media (max-width: 768px) {
    .reviews {
        grid-template-columns: 1fr;
        animation: slideInFromLeft 1s ease-in;
        /* Change to a single column layout */
    }

    .reviews-container {
        background-position: center bottom;
        padding: 0 20px;
    }

    .reviews-container h2 {
        text-align: right;
        font-family: 'Work Sans', sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        opacity: 0.5;
    }
        .review-bottom-container {
            grid-column: 1 / -1;
            display: flex;
            justify-content: center;
        }
    
        .bottom-reviews {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
}

/* Media Queries for Community Section */
@media (max-width: 768px) {
    .community-container {
        background-position: center bottom;
        padding: 0 20px;
        margin-top: -28px;
    }

    .community-container h2 {
        padding-left: 70px;
        font-family: 'Work Sans', sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        opacity: 0.5;
    }
}

/* Media Queries for Footer Section */
@media (max-width: 768px) {
    footer {
        padding: 10px 20px;
        /* Reduce padding */
    }
}